/*1. General styles*/
/*2. Header + Nav styles*/
/*3. About Me styles*/
/*4. Projects styles*/
/*5. More About Me styles */
/*6. Contact styles*/
/*7. Footer styles*/
/*8. Media queries*/
/*9. Animations */

/*1. General styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Martian Mono', monospace;
  text-align: center;
  background-color: rgb(230, 228, 228);
  color: black;
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 1px 0;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 1px 0;
}

li {
  list-style: none;
}

p {
  line-height: 1.5rem;
  padding: 0 20px;
}

/*2. Header + Nav styles*/
header {
  display: grid;
  grid-template: 28% 27% 24% 21% / repeat(4, 25%);
  height: 150px;
  width: 100%;
  margin-bottom: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.lightHeader {
  background-color: #e5e5f7;
  background-image: radial-gradient(#f745e8 1.3px, #e5e5f7 1.3px); /*patrón obtenido de: https://www.magicpattern.design/tools/css-backgrounds*/
  background-size: 26px 26px;
  border-bottom: 2px white solid;
}

.darkHeader {
  background-color: #000000;
  background-image: radial-gradient(#f745e8 1.3px, black 1.3px); /*patrón obtenido de: https://www.magicpattern.design/tools/css-backgrounds*/
  background-size: 26px 26px;
}

.sombraHeader {
  -moz-box-shadow: 0 10px 5px #888888;
  box-shadow: 0 10px 5px #888888;
}

.neonHeader {
  box-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1), 0 0 20px #ff00de, 0 0 25px #ff00de;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  /* estilo creado por: https://codepen.io/wander031180 */
}

header h1 {
  grid-area: 1/1/2/5;
}

header h2 {
  grid-area: 2/1/3/5;
}

nav {
  grid-area: 3/1/4/5;
  margin: 0 auto;
}

header ul {
  display: flex;
}

header ul li {
  padding: 10px 10px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(66, 66, 66);
}

/* Modo claro / oscuro */
#modoColor {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: 4/1/5/5;
  margin: 0 auto;
}

#colorPagina {
  width: 50px;
  height: 10px;
}

/*3. About Me styles*/
#aboutMe {
  display: grid;
  grid-template: 15% 85% / repeat(2, 1fr);
  height: 435px;
  margin: 0 5px 80px;
}

#aboutMe img {
  border-radius: 5px;
  width: auto;
  height: 350px;
  grid-area: 2/2/3/3;
  margin: 10px 0;
}

#aboutMe h2 {
  line-height: 3rem;
  grid-area: 1/1/2/3;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#aboutMe p {
  grid-area: 2/1/3/2;
  padding: 5px;
}

#aboutMe .iconoAboutMe {
  width: 45px;
  height: 45px;
  margin: 0 15px;
}

/*4. Projects styles*/
#projects {
  height: auto;
  margin-bottom: 80px;
}

#projects h3 {
  margin: 2rem auto 1rem;
}

.imgProjects {
  height: auto;
  width: 400px;
  /*el tamañao de la img define, por algún motivo, el tamaño del div... por más que cambio el width del div, su ancho no cambia, a menos que cambie el width de la img*/
  margin-bottom: 10px;
}

#projects li {
  padding: 3px 0;
  line-height: 1.5rem;
}

#projects p {
  margin-bottom: 15px;
}

/* slider */
#radioProjects {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
}

.radioButtons {
  margin: 0 15px;
  height: 25px;
  width: 25px;
}

#sanMichi,
#calculadoras {
  display: none;
}

#sliderInner div {
  height: auto;
  padding: 10px;
}

/*5. More About Me styles */
#moreAboutMe {
  margin-bottom: 80px;
}

#moreAboutMe p,
#tecnologias h3 {
  margin: 20px auto;
}

#tecnologias img {
  height: 66px;
  width: auto;
  padding: 5px;
}

.roundedCorner {
  border-radius: 15px;
}

.roundedCorner2 {
  border-radius: 22px;
}


/*6. Contact styles*/
#contact {
  margin-bottom: 40px;
}

#enlacesContacto {
  margin-bottom: 40px;
}

.neonFuturo {
  box-shadow: 0 0 3px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 1), 0 0 9px rgba(255, 255, 255, 1), 0 0 12px #ff00de;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  /* estilo creado por: https://codepen.io/wander031180, ligeramente modificado por diosDeNada */
}

.contactos {
  height: 66px;
  width: auto;
  padding: 5px;
}

#futuro {
  width: 90%;
  margin: 5px auto;
  height: auto;
  padding: 15px;
}

#suerte {
  width: 100px;
  height: 50px;
}

/*7. Footer styles*/
footer {
  background-color: black;
  color: white;
  line-height: 30px;
}

footer p {
  font-size: 0.75rem;
}


/*8. Media queries*/
/* desde tablets hasta laptops */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  h3 {
    font-size: 1.5rem;
  }

  #aboutMe {
    width: 80%;
    height: auto;
    margin: 0 auto 80px;
  }

  #aboutMe p {
    margin-top: 20px;
  }

  #aboutMe img {
    border-radius: 5px;
    width: auto;
    height: 260px;
    grid-area: 2/2/3/3;
    margin: auto;
  }

  .imgProjects {
    height: auto;
    width: 745px;
    margin-bottom: 10px;
  }

}

/* desde laptops hasta panatllas grandes */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  main h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header li:hover {
    font-size: 1.2rem;
  }

  main h2:hover {
    font-size: 1.9rem;
  }

  #aboutMe {
    grid-template: 20% 80% / auto;
    width: 600px;
    height: auto;
    margin: 0 auto 150px;
  }

  #aboutMe h2 {
    grid-area: 1/1/2/2;
  }

  #aboutMe p {
    margin-top: 20px;
    grid-area: 2/1/3/2;
  }

  #aboutMe img {
    width: auto;
    height: 300px;
    grid-area: 1/2/3/3;
  }

  .imgProjects {
    height: auto;
    width: 950px;
    margin-bottom: 10px;
  }

  #projects {
    width: 100%;
  }

  #tecnologias img:hover,
  .contactos:hover {
    transition: width 1s, height 1s;
    width: auto;
    height: 76px;
  }

  #tecnologias img {
    margin: 0 20px;
  }

}

/*9. Animations */
/* animación para h1 header */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-12 18:5:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* animación li nav */
.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 2.5s both;
  animation: wobble-hor-bottom 2.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-12 18:15:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Animaciones About Me */
.wobble-ver-right {
  -webkit-animation: wobble-ver-right 1.5s 2s 3 both;
  animation: wobble-ver-right 1.5s 2s 3 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-14 18:23:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-right {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-ver-right {

  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

.jello-vertical {
  -webkit-animation: jello-vertical 1.5s 2s 3 both;
  animation: jello-vertical 1.5s 2s 3 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-14 18:27:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}